/* ============ CSS organised by the following system ============

    - Where possible, following the DOM structure
    - Exception to above rule: footer following navigation
    - Mobile preceeding desktop
    - In order of pages on navigation - home, products, about, FAQ, contact
    - Within the declarations, layout/structure properties preceeding styling properties
    - Modals after page content
    - Media queries at the bottom, ordered from smallest to largest except special cases, which are at the very bottom

    - CSS classes are named by following my understanding of BEM as best as I could. I also read a lot on various other systems but a lot of it uses SASS and is outside the scope of my knowledge at this stage
*/

                    /* ==================
                    Contents (searchable)
                    ===================*/
                /*  >>IMPORTS AND GLOBAL STYLES  */
                /*  >>HEADER/NAVIGATION */
                /*  >>FOOTER */
                /*  >>HOME PAGE  */
                /*  >>PRODUCTS PAGE  */
                /*  >>ABOUT PAGE */
                /*  >>FAQ PAGE */
                /*  >>CONTACT PAGE */
                /*  >>MODALS
                        >Sign Up Modal
                        >Privacy/Credits Modal */
                /*  >>MEDIA QUERIES
                        >Mobile Landscape
                        >768+ width
                        >992+ width
                        >1500+ width
                        >Special Queries */


/* ==========================
>>IMPORTS AND GLOBAL SETTINGS
========================== */

@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700|Rubik:400,500');

body {
    background: #000000;
}

/* remove bootstrap default margins */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Remove outline from button when clicked. Used on all buttons because I didn't like the effect - https://stackoverflow.com/questions/23333231/bootstrap-button-shows-blue-outline-when-clicked*/
button {
    outline: none !important;
    box-shadow: none !important;
}

/* ================================================

>>HEADER/NAVIGATION
===================

================================================= */

.nav-wrapper {
    background: #000000;
}

.logo {
    margin: 0;
    padding: 0;
    height: 10vh;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

.nav-menu-icon {
    z-index: 10;
    margin: 0 1rem 0 0;
    border: 0;
    padding: 0;
}

.nav-menu-icon span {
    font-size: 2.5rem;
    color: #ffffff;
}

#NavMobileToggler {
    padding-top: 0.5rem;
    background: #000000;
    z-index: 8;
}

.nav-text-style {
    border-bottom: 1px solid rgba(255,255,255,.5);
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: .8rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
}

.nav-text-style a {
    padding: 0.75rem 0;
}

.nav-signup-cursor {
    cursor: pointer;
}

/* ================================================

>>FOOTER
========

================================================= */

.footer-wrapper {
    background: rgba(0, 61, 83, 0.5);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.footer-text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    color: #ffffff;
}

.footer-text a {
    color: #ffffff;
}

.footer-text a:link, a:visited, a:active {
    text-decoration: none;
    color: #ffffff;
}

@media (hover) {
    .footer-text a:hover {
        text-decoration: none;
        color: #a5460b;
    }
}

.footer-text-not-link {
    color: #c2c2c2;
}

/* ================================================

>>HOME PAGE
===========

================================================= */

.home-container-wrapper {
    min-height: 90vh;
    margin-top: 10vh;
    padding: 10vh 7vw 0;
    background: url(../images/bg_home.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.home-text-style {
    text-align: center;
}

.home-text-style h1 {
    margin-bottom: 0.75rem;
    color: #ffffff;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.home-text-style h3 {
    color: #ffffff;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.home-text-style h5 {
    margin: 1.75rem 0 0.25rem;
    padding: 0 2rem;
    color: #cccccc;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.home-text-style h6 {
    color: #acacac;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    font-style: italic;
}

.button-center {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.button-signup-style {
    color: #ffffff;
    background: #a5460b;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.social-links-wrapper {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 12vh;
}

.social-links-style {
    color: #003d53;
    font-size: 4rem;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.social-links-style:hover {
    color: #a5460b;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

/* ================================================

>>PRODUCTS PAGE
===============

================================================= */

.product-container-wrapper {
    min-height: 210vh;
    margin-top: 10vh;
    padding: 4vh 10vw 0;
    background: url(../images/bg_product_mobile.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.product-header-main {
    margin-bottom: 2rem;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
}

.product-card-wrapper {
    margin: 0 0 2.5rem;
    font-family: "Rubik", sans-serif;
}

.product-card-mobile-spacing {
    margin-bottom: 20vh;
}

.product-links .card {
    background: none;
    border: 1px;
    border-radius: 0;
}

.product-links img {
    max-height: 33vh;
    width: auto;
    margin: auto;
    position: relative;
    border-radius: calc(0.5rem - 1px);
}

.product-links h3 {
    text-align: center;
    margin-top: -0.2rem;
    margin-bottom: 0rem;
}

.product-img-text {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
}

.product-header {
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.product-body {
    color: #ffffff;
    padding: 0.25rem 1rem;
    margin-top: 0.25rem;
    border-bottom: 1px solid rgba(165, 70, 11, 0.75);
    font-size: 1rem;
    line-height: 1.15;
}

/* ================================================

>>ABOUT PAGE
============

================================================= */

.about-container-wrapper {
    min-height: 90vh;
    padding: 4vh 10vw 0;
    background: url(../images/bg_about.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.about-header {
    margin-bottom: 2rem;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
}

.about-text {
    color: #ffffff;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    line-height: 1.15;
    text-align: center;
    padding-bottom: 21vh;
}

.about-text-footer {
    margin: 1rem 0;
}

/* ================================================

>>FAQ PAGE
==========

================================================= */

.faq-container-wrapper {
    padding: 0;
    padding: 4vh 10vw 0;
    background: url(../images/bg_faq.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.faq-header {
    color: #ffffff;
    text-align: center;
    margin-bottom: 0.75rem;
}

.faq-header h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.faq-questions {
    color: #ffffff;
    text-align: center;
    font-family: "Rubik", sans-serif;
}

.faq-divider {
    width: 6rem;
    height: 0px;
    background-color: #a5460b;
    margin-top: 0;
    margin-bottom: 1rem;
}

.faq-divider-lg {
    width: 16rem;
    height: 0px;
    background-color: #a5460b;
    margin-top: 0.1rem;
    margin-bottom: 0.4rem;
}

.faq-sub-questions {
    margin-bottom: 0.75rem;
}

.faq-sub-questions h5 {
    padding-bottom: 1rem;
    font-weight: 400;
    line-height: 1;
}

.faq-sub-questions p {
    line-height: 1.25;
    font-size: 1rem;
}

.faq-bottom-spacing {
    padding-bottom: 20vh;
    margin-bottom: 0;
}

/* ================================================

>>CONTACT PAGE
==============

================================================= */

.contact-container-wrapper {
    min-height: 90vh;
    padding: 4vh 7vw 0;
    background: url(../images/bg_contact.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.contact-header {
    padding: 0.5rem 0.5rem 0;
    margin: 0 0 1rem;
    text-align: center;
    color: #ffffff;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1px;
}

.contact-subtext {
    margin: 0 0 0.75rem;
    text-align: center;
    color: #ffffff;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

.contact-form {
    justify-content: center;
    font-family: "Rubik", sans-serif;
    padding-bottom: 35vh;
}

.contact-form form {
    width: 90%;
}

.contact-form .btn {
    display: flex;
    flex: inherit;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.75rem;
    color: #ffffff;
    background: #003d53;
    font-size: 1.25rem;
}

.contact-form small {
    padding: 0 1.5rem;
    color: #e7e7e7;
    font-style: italic;
}

.contact-form-input {
    margin-bottom: 0.5rem;
}

/* ================================================

>>MODALS
========

================================================= */

/* ===========
>Modal Styling
=========== */

.modal-styles {
    background: #003d53;
    color: #ffffff;
    font-family: "Rubik", sans-serif;
}

.modal-styles a {
    color: #a5460b;
    text-decoration: none;
}

.modal-styles .modal-header {
    padding: 0.25rem 1rem;
    border-bottom: 0;
}

.modal-styles .close {
    color: #ffffff;
}

.modal-styles .modal-body {
    padding: 0.5rem 1rem 0;
    border-top: 0;
}

/* ===========
>Sign Up Modal
=========== */

.modal-signup .btn {
    float: right;
}

.modal-signup select {
    margin-top: 0.25rem;
    width: 105%;
    height: 80%;
}

.modal-signup .modal-footer {
    padding: 0.5rem 1rem;
    display: block;
    border-top: 0;
}

.modal-signup small {
    margin: 0;
    display: inline-block;
    font-style: italic;
}

.modal-signup-input {
    padding-bottom: 0.5rem;
}

#productSelect {
    font-size: 0.9rem;
}

.modal-signup-btn-submit {
    color: #ffffff;
    background: #a5460b;
}

.modal-signup-btn-close {
    margin-top: 0.5rem;
}

.modal-signup-footer {
    color: #ffffff;
    padding: 0 1rem;
    text-align: center;
    justify-content: center;
}

/* ===================
>Privacy/Credits Modal
=================== */

#modalPrivacy .modal-header {
    border-bottom: 1px solid #a5460b;
}

#modalPrivacy .modal-footer {
    border-top: 1px solid #a5460b;
    padding: 0.25rem;
}

#modalCredits .modal-header {
    border-bottom: 1px solid #a5460b;
}

#modalCredits .modal-footer {
    border-top: 1px solid #a5460b;
    padding: 0.25rem;
}

/* ================================================

>>MEDIA QUERIES
===============

================================================= */

/* positioning for long phones eg; pixel 2 */
@media only screen and (min-height: 668px) {
    .social-links-wrapper {
        bottom: 10vh;
    }
}

/* ==============
>Mobile Landscape
============== */
/* == Nav/Footer/Home == */

@media only screen and (max-width: 900px) and (orientation: landscape) {
    .logo {
        height: 15vh;
    }
    .nav-menu-icon {
        margin-right: 0.75rem;
    }
    .home-container-wrapper {
        height: auto;
        min-height: 100vh;
        margin-top: 15vh;
        padding: 5vh 7vw 0;
    }
    .home-text-style h1 {
        font-size: 1.35rem;
        margin: 0 0 0.5rem 0;
    }
    .home-text-style h3 {
        font-size: 1.15rem;
    }
    .home-text-style h5 {
        margin-top: 1.5rem;
    }
    .button-center {
        margin: 0.5rem 0;
    }
    .social-links-wrapper {
        bottom: 20vh;
    }
}

/* To target long phones in landscape */
@media only screen and (min-width: 768px) and (orientation: landscape) {
    .home-container-wrapper {
        padding: 7vh 7vw 0;
    }
    .home-text-style h1 {
        font-size: 1.8rem;
    }
    .home-text-style h3 {
        font-size: 1.5rem;
    }
}

/* == Products == */

@media only screen and (max-width: 900px) and (orientation: landscape) {
    .product-container-wrapper {
        margin-top: 15vh;
    }
    .product-card-mobile-spacing {
        margin-bottom: 30vh;
    }
}

/* == About == */

@media only screen and (orientation: landscape) {
    .about-header .col-12 {
        margin-bottom: 1rem;
    }
    .about-text {
        padding-bottom: 35vh;
    }
}

/* == FAQ == */

@media only screen and (orientation: landscape) {
    .faq-bottom-spacing {
        padding-bottom: 35vh;
    }
}

/* == Contact == */

@media only screen and (orientation: landscape) {
    .contact-form {
        padding-bottom: 55vh;
    }
}

/* ========
>768+ width
======== */

/* == Nav/Footer/Home == */

/* min-height to exclude long phones in landscape eg; pixel 2 */
@media only screen and (min-width: 768px) and (min-height: 420px) {
    .logo {
        height: 10vh;
    }
    .nav-menu-icon {
        margin-bottom: 2%;
    }
    .nav-menu-icon span {
    font-size: 3rem;
    }
    .nav-text-style {
        font-size: 1rem;
    }
    .home-container-wrapper {
        padding: 11vh 7vw 0;
    }
    .home-text-style h1 {
        font-size: 3.5rem;
        margin-bottom: 1.75rem;
    }
    .home-text-style h3 {
        font-size: 2.5rem;
    }
    .home-text-style h5 {
        font-size: 1.5rem;
    }
    .home-text-style h6 {
        font-size: 1rem;
    }
    .button-center {
        margin-top: 1rem;
    }
    .button-signup-style {
        font-size: 2rem;
    }
    .social-links-wrapper {
        bottom: 7.5vh;
    }
    .social-links-style {
        font-size: 6vh;
    }
    .modal-signup select {
        width: 95%
    }
    .modal-signup-btn-close {
        margin-top: 0;
    }
}

/* == Products == */

@media only screen and (min-width: 768px) and (min-height: 420px) {
    .product-container-wrapper {
        padding: 5vh 5vw 0;
        min-height: 200vh;
        margin-top: 10vh;
    }
    .product-header-main h3 {
        font-size: 2.5rem;
    }
    .product-card-mobile-spacing {
        margin-bottom: 15vh;
    }
}

/* == About == */

@media only screen and (min-width: 768px) and (min-height: 420px) {
    .about-container-wrapper {
        padding: 15vh 10vw 0;
    }
    .about-text {
        padding: 0 3rem 0;
    }
}

/* == FAQ == */

@media only screen and (min-width: 768px) and (min-height: 420px) {
    .faq-container-wrapper {
        padding: 5vh 5vw 0;
    }
    .faq-bottom-spacing {
        padding-bottom: 20vw;
    }
    .faq-sub-questions h5 {
        font-size: 1.5rem;
    }
}

/* == Contact == */

@media only screen and (min-width: 768px) and (min-height: 420px) {
    .contact-container-wrapper{
        padding: 15vh 12vw 0;
    }
    .contact-form {
        padding-bottom: 0;
    }
}

/* ========
>992+ width
======== */

/* == Nav/Footer/Home == */

@media only screen and (min-width: 992px) {
    .nav-text-style {
        border: none;
    }
    .home-container-wrapper {
        height: 90vh;
        padding: 10vh 2vw 0;
    }
    .home-text-style h1 {
        font-size: 3.8rem;
        margin-bottom: 2rem;
    }
    .home-text-style h3 {
        font-weight: 700;
        font-size: 3rem;
    }
    .home-text-style h5 {
        margin-bottom: 1.25rem;
        font-size: 1.5rem;
    }
    .home-text-style h6 {
        font-size: 1rem;
    }
    .button-center {
        margin: 1rem 0;
    }
    .button-signup-style {
        font-size: 2rem;
    }
    .social-links-wrapper {
        bottom: 11vh;
    }
    .footer-wrapper {
        bottom: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

/* == Products == */

@media only screen and (min-width: 992px) {
    .product-container-wrapper {
        min-height: 90vh;
        background: url(../images/bg_product.jpg) no-repeat center center;
    }
    .product-header-main .col-12 {
        margin-bottom: 3rem;
    }
    .product-card-wrapper {
        margin: 0;
    }
    .product-links img {
        max-height: 22vh;
    }
    .product-first-row {
        min-height: 50vh;
    }
    .product-second-row {
        justify-content: center;
        margin-top: 1rem;
    }
    .product-card-lg-spacing, .product-card-mobile-spacing {
        margin-bottom: 12vh;
    }
}

@media only screen and (min-width: 992px) and (orientation: landscape) {
    .product-links img {
    max-height: 27vh;
    }
}

/* == About == */

@media only screen and (min-width: 992px) {
    .about-container-wrapper {
        height: 90vh;
    }
    .about-header .col-12 {
        margin-bottom: 2rem;
    }
    .about-text {
        padding: 0 10rem 0;
    }
}

/* FAQ */

@media only screen and (min-width: 992px) {
    .faq-container-wrapper {
        min-height: 90vh;
    }
    .faq-header {
        margin-bottom: 1.5rem;
    }
    .faq-sub-questions {
        margin-bottom: 1rem;
    }
    .faq-divider {
        margin-bottom: 1.5rem;
    }
    .faq-bottom-spacing {
        padding-bottom: 13vh;
    }
}

/* == Contact == */

@media only screen and (min-width: 992px) {
    .contact-container-wrapper {
        padding: 15vh 17vw 0;
    }
    .contact-form-middle {
        height: 75vh;
    }
}

/* =========
>1200+ width
========= */

@media only screen and (min-width: 1200px) {
    .product-links img {
        max-height: 27vh;
    }
    .about-text {
        padding: 0 15rem 0;
    }
}

/* =============
>Special Queries
============= */

/* Desktop Height Breakpoint */
@media only screen and (min-width: 1200px) and (min-height: 880px) and (orientation: landscape) {
    .social-links-wrapper {
    bottom: 10vh;
    }
}
