/* ============ CSS organised by the following system ============

    - Where possible, following the DOM structure
    - Exception to above rule: footer following navigation
    - Mobile preceeding desktop
    - In order of pages on navigation - home, products, about, FAQ, contact
    - Within the declarations, layout/structure properties preceeding styling properties
    - Modals after page content
    - Media queries at the bottom, ordered from smallest to largest except special cases, which are at the very bottom

    - CSS classes are named by following my understanding of BEM as best as I could. I also read a lot on various other systems but a lot of it uses SASS and is outside the scope of my knowledge at this stage
*/

                    /* ==================
                    Contents (searchable)
                    ===================*/
                /*  >>IMPORTS AND GLOBAL STYLES  */
                /*  >>HEADER/NAVIGATION
                        >Mobile Nav
                        >Desktop Nav */
                /*  >>FOOTER
                        >Mobile Footer
                        >Desktop Footer */
                /*  >>HOME PAGE  */
                /*  >>PRODUCTS PAGE  */
                /*  >>ABOUT PAGE */
                /*  >>FAQ PAGE */
                /*  >>CONTACT PAGE */
                /*  >>MODALS
                        >Sign Up Modal
                        >Privacy/Credits Modal */
                /*  >>MEDIA QUERIES
                        >Mobile Landscape
                        >768+ width
                        >992+ width
                        >1500+ width
                        >Special Queries */


/* ==========================
>>IMPORTS AND GLOBAL SETTINGS
========================== */

@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700|Rubik:400,500');

body {
    background: #000000;
}

/* remove bootstrap default margins */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Remove outline from button when clicked. Used on all buttons because I didn't like the effect - https://stackoverflow.com/questions/23333231/bootstrap-button-shows-blue-outline-when-clicked*/
button {
    outline: none !important;
    box-shadow: none !important;
}

/* ================================================

>>HEADER/NAVIGATION
===================

================================================= */

.logo {
    margin: 0;
    padding: 0;
    height: 10vh;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

/* ========
>Mobile Nav
======== */

.nav-mobile--wrapper {
    display: flex;
    min-height: 6vh;
    background: #000000;
}

.nav-desktop--hide {
    display: none;
}

/* Cover white border on mobile nav when it's opening */
.nav-mobile--blackbox {
    min-height: 5.9vh;
    z-index: 9;
    background: #000000;
}

.nav-mobile--icon {
    z-index: 10;
    margin: 0 auto 1%;
    border: 0;
    padding: 0;
    width: 10%;
    color: #ffffff;
}

.nav-mobile--icon span {
    font-size: 2rem;
}

.nav-mobile--style {
    margin-bottom: 6vh;
    border-top: 1px solid rgba(255,255,255,.5);
    border-bottom: 1px solid rgba(255,255,255,.5);
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: .8rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
}

.nav-mobile--style a {
    padding: 0.75rem 0;
}

#NavMobileToggler {
    background: #000000;
    z-index: 8;
}

/* =========
>Desktop Nav
========= */

.nav-desktop--style {
    background: #000000;
}

.nav-desktop--style ul {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
}

/* ================================================

>>FOOTER
========

================================================= */

/* ===========
>Mobile Footer
=========== */

.footer-mobile--wrapper {
    display: flex;
    background: #003d53;
    margin-bottom: 5.9vh;
}

.footer-mobile--text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    text-align: center;
    color: #ffffff;
}

.footer-mobile--text a {
    color: #ffffff;
}

.footer-mobile--text a:hover {
    text-decoration: none;
}

.footer-desktop--spacer {
    height: 7vh;
    display: none;
}

/* ============
>Desktop Footer
============ */

.footer-desktop--wrapper {
    height: 7vh;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 0.75rem;
    background: #003d53;
}

.footer-show--md {
    display: none;
}

.footer-text--desktop {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    text-align: center;
}

.footer-text--desktop h6 {
    font-weight: 400;
}

.footer-text--not-link {
    color: #c2c2c2;
    font-size: 0.6rem;
}

.footer-text--desktop a:link, a:visited, a:active {
    text-decoration: none;
    color: #ffffff;
}

@media (hover) {
    .footer-text--desktop a:hover {
        text-decoration: none;
        color: #000000;
    }
}

/* ================================================

>>HOME PAGE
===========

================================================= */

.home-container--wrapper {
    min-height: 90vh;
    padding: 0;
    background: url(../images/bg_home.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.home-content--wrapper {
    height: 72vh;
    padding: 18% 7% 0;
}

.home-text--style {
    text-align: center;
}

.home-text--style h1 {
    margin-bottom: 0.75rem;
    color: #ffffff;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 1.35rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.home-text--style h3 {
    color: #ffffff;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    font-size: 1.15rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.home-text--style h5 {
    margin: 1.75rem 0 0.25rem;
    padding: 0 2rem;
    color: #cccccc;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}

.home-text--style h6 {
    color: #acacac;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    font-style: italic;
}

.button--center {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.button-signup--style {
    color: #ffffff;
    background: #a5460b;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.social-links--wrapper {
    text-align: center;
}

.social-links--style {
    color: #003d53;
    font-size: 3rem;
}

/* ================================================

>>PRODUCTS PAGE
===============

================================================= */

.product-container--wrapper {
    padding: 0;
    background: url(../images/bg_product.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.product-content--wrapper {
    padding: 10% 10% 0;
}

.product-card--wrapper {
    margin: 0 0 1.5rem;
    font-family: "Rubik", sans-serif;
}

.product--links .card {
    background: none;
    border: 1px;
    border-radius: 0;
}

.product--links img {
    max-height: 33vh;
    width: auto;
    margin: auto;
    position: relative;
    border-radius: calc(0.5rem - 1px);
}

.product--links h3 {
    text-align: center;
    margin-top: -0.2rem;
    margin-bottom: 0rem;
}

.product-img--text {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
}

.product-header {
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.product--body {
    color: #ffffff;
    padding: 0.25rem 1rem;
    margin-top: 0.25rem;
    border-bottom: 1px solid rgba(165, 70, 11, 0.75);
    font-size: 0.9rem;
    line-height: 1.15;
}

/* ================================================

>>ABOUT PAGE
============

================================================= */

.about-container--wrapper {
    padding: 0;
    background: url(../images/bg_about.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.about-content--wrapper {
    min-height: 78vh;
    padding: 5% 10% 0;
}

.about-align--middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

.about--img-about {
    max-width: 200px;
    display: flex;
    margin: 0 auto 0.5rem;
}

.about--text {
    margin-bottom: 0.75rem;
    color: #ffffff;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    line-height: 1.15;
    text-align: center;
}

.about--text-footer {
    margin: 1rem 0;
}

/* ================================================

>>FAQ PAGE
==========

================================================= */

.faq-container--wrapper {
    padding: 0;
    background: url(../images/bg_faq.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.faq-content--wrapper {
    padding: 5% 10% 0;
    min-height: 81vh;
}

.faq--header {
    color: #ffffff;
    text-align: center;
    margin-bottom: 0.75rem;
}

.faq--header h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Rubik", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.faq--questions {
    color: #ffffff;
    text-align: center;
    font-family: "Rubik", sans-serif;
}

.faq--divider {
    width: 6rem;
    height: 0px;
    background-color: #a5460b;
    margin-top: 0;
    margin-bottom: 1rem;
}

.faq--divider-lg {
    width: 16rem;
    height: 0px;
    background-color: #a5460b;
    margin-top: 0.1rem;
    margin-bottom: 0.4rem;
}

.faq--sub-questions {
    margin-bottom: 0.75rem;
}

.faq--sub-questions h5 {
    padding-bottom: 0.4rem;
    font-weight: 400;
    line-height: 1;
}

.faq--sub-questions p {
    line-height: 1.15;
    font-size: 0.85rem;
}

/* ================================================

>>CONTACT PAGE
==============

================================================= */

.contact-container--wrapper {
    padding: 0;
    background: url(../images/bg_contact.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.contact-content--wrapper {
    height: 82vh;
    padding: 2% 5% 0;
}

.contact-form-align--middle {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact--header {
    padding: 0.5rem 0.5rem 0;
    margin: 0 0 1rem;
    text-align: center;
    color: #ffffff;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

.contact--subtext {
    margin: 0 0 0.75rem;
    text-align: center;
    color: #ffffff;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

.contact--form {
    justify-content: center;
    font-family: "Rubik", sans-serif;
}

.contact--form form {
    width: 90%;
}

.contact--form .btn {
    display: flex;
    flex: inherit;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.75rem;
    color: #ffffff;
    background: #003d53;
    font-size: 1.25rem;
}

.contact--form small {
    padding: 0 1.5rem;
    color: #e7e7e7;
    font-style: italic;
}

.contact-form--input {
    margin-bottom: 0.25rem;
}

/* ================================================

>>MODALS
========

================================================= */

/* ===========
>Sign Up Modal
=========== */

.modal-signup {
    background: #003d53;
    color: #ffffff;
    font-family: "Rubik", sans-serif;
}

.modal-signup .modal-header {
    padding: 0.25rem 1rem;
    border-bottom: 0;
}

.modal-signup .close {
    color: #ffffff;
}

.modal-signup .modal-body {
    padding: 0.5rem 1rem 0;
    border-top: 0;
}

.modal-signup .btn {
    float: right;
}

.modal-signup select {
    margin-top: 0.25rem;
    width: 105%;
    height: 80%;
}

.modal-signup .modal-footer {
    padding: 0.5rem 1rem;
    display: block;
    border-top: 0;
}

.modal-signup small {
    margin: 0;
    display: inline-block;
    font-style: italic;
}

.modal-signup--input {
    padding-bottom: 0.5rem;
}

#productSelect {
    font-size: 0.9rem;
}

.modal-signup-btn--submit {
    color: #ffffff;
    background: #a5460b;
}

.modal-signup-btn--close {
    margin-top: 0.5rem;
}

.modal-signup--footer {
    color: #ffffff;
    padding: 0 1rem;
    text-align: center;
    justify-content: center;
}

/* ===================
>Privacy/Credits Modal
=================== */

#modalPrivacy {
    font-family: "Rubik", sans-serif;
}

#modalCredits {
    font-family: "Rubik", sans-serif;
    color: #000000;
}

#modalCredits a {
    color: #007bff;
}

/* ================================================

>>MEDIA QUERIES
===============

================================================= */

/* positioning for long phones eg; pixel 2 */
@media only screen and (min-height: 668px) {
    .nav-mobile--icon {
        margin-bottom: 2.5%;
    }
    .social-links--wrapper {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .contact-content--wrapper {
        height: 67vh;
    }
}

/* ==============
>Mobile Landscape
============== */
/* == Nav/Footer/Home == */

@media only screen and (orientation: landscape) {
    .logo {
        height: 15vh;
    }
    .nav-mobile--icon {
        margin-bottom: 0.1rem;
    }
    .nav-mobile--wrapper {
        min-height: 10vh;
    }
    .nav-mobile--blackbox {
        min-height: 9.9vh;
    }
    .nav-mobile--style {
        margin-bottom: 10vh;
    }
    .footer-mobile--wrapper {
        margin-bottom: 9.9vh;
    }
    .home-content--wrapper {
        height: auto;
        min-height: 58vh;
        padding: 4% 15% 0;
    }
    .home-text--style h1 {
        font-size: 1.35rem;
        margin: 0 0 0.25rem 0;
    }
    .home-text--style h3 {
        font-size: 1.15rem;
    }
    .button--center {
        margin: 0.5rem 0;
    }
    .social-links--wrapper {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }
}

/* To target long phones in landscape */
@media only screen and (min-width: 768px) and (orientation: landscape) {
    .footer-mobile--wrapper {
        display: flex;
    }
    .footer-show--md {
        display: none;
    }
    .nav-mobile--icon {
        margin-bottom: 0.25rem;
    }
    .home-text--style h1 {
        font-size: 1.8rem;
    }
    .home-text--style h3 {
        font-size: 1.5rem;
    }
}

/* == Products == */

@media only screen and (orientation: landscape) {
    .product-content--wrapper {
        padding-top: 3%;
    }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
    .product-content--wrapper {
        padding: 3% 5% 0;
    }
}

/* == Contact == */

@media only screen and (orientation: landscape) {
    .contact-content--wrapper {
        height: auto;
    }
    .contact-form--middle {
        height: auto;
    }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
    .contact-content--wrapper {
        height: auto;
    }
}

/* ========
>768+ width
======== */

/* == Nav/Footer/Home == */

/* Hide mobile footer */
@media only screen and (min-width: 768px) and (min-height: 420px) {
    .footer-mobile--wrapper {
        display: none;
    }
}

/* Show tablet/desktop footer */
@media only screen and (min-width: 768px) and (min-height: 420px) {
    .footer-show--md {
        display: flex;
    }
}

/* min-height to exclude long phones in landscape eg; pixel 2 */
@media only screen and (min-width: 768px) and (min-height: 420px) {
    .logo {
        height: 10vh;
    }
    .nav-mobile--icon {
        margin-bottom: 2%;
    }
    .footer-text--spacer {
        display: block;
        margin-bottom: 0.5rem;
    }
    .footer-text--desktop a {
        font-size: 0.8rem;
    }
    .footer-text--not-link {
        font-size: 0.8rem;
    }
    .footer-desktop--wrapper {
        margin: 0 12.5vw;
        padding-top: 0.4rem;
    }
    .home-container--wrapper {
        height: 90vh;
    }
    .home-content--wrapper {
        padding: 16% 8% 0;
        height: 69vh;
    }
    .home-text--style h1 {
        font-size: 3.5rem;
    }
    .home-text--style h3 {
        font-size: 2.5rem;
    }
    .home-text--style h5 {
        font-size: 1.5rem;
    }
    .home-text--style h6 {
        font-size: 1rem;
    }
    .button-signup--style {
        font-size: 2rem;
    }
    .social-links--wrapper {
        margin-top: 0;
        margin-bottom: 1vh;
    }
    .social-links--style {
        font-size: 6vh;
    }
    .modal-signup select {
        width: 95%
    }
    .modal-signup-btn--close {
        margin-top: 0;
    }
}

/* == Products == */

@media only screen and (min-width: 768px) and (min-height: 420px) {
    .product-content--wrapper {
        padding: 8% 5% 0;
    }
    .footer-desktop--spacer {
        display: flex;
    }
}

/* == About == */

@media only screen and (min-width: 768px) and (min-height: 420px) {
    .about-content--wrapper {
        padding: 11% 20% 0;
        min-height: 75vh;
    }
    .about-align--middle {
        height: 40vh;
    }
    .about--text {
        padding: 0 3rem 0;
    }
}

/* == Contact == */

@media only screen and (min-width: 768px) and (min-height: 420px) {
    .contact-content--wrapper {
        height: 69vh;
        padding: 0 10% 0;
    }
}

/* ========
>992+ width
======== */

/* == Nav/Footer/Home == */

/* hide mobile nav */
@media only screen and (min-width: 992px) {
    .nav-mobile--wrapper {
        display: none;
    }
}

    /* show desktop nav */
@media only screen and (min-width: 992px) {
    .nav-desktop--hide {
        display: flex;
    }
}

@media only screen and (min-width: 992px) {
    .home-container--wrapper {
        height: 90vh;
    }
    .home-content--wrapper {
        padding: 7% 8% 0;
        height: 71vh;
    }
    .home-text--style h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    .home-text--style h3 {
        font-weight: 700;
        font-size: 3rem;
    }
    .home-text--style h5 {
        font-size: 1.5rem;
    }
    .home-text--style h6 {
        font-size: 1rem;
    }
    .button--center {
        margin: 1rem 0;
    }
    .button-signup--style {
        font-size: 2rem;
    }
    .social-links--wrapper {
        margin-top: 0;
    }
    .footer-desktop--wrapper {
        height: 10vh;
    }
}

/* == Products == */

@media only screen and (min-width: 992px) {
    .product-container--wrapper {
        min-height: 90vh;
    }
    .product-content--wrapper {
        padding: 6% 2% 0;
        min-height: 78.1vh;
    }
    .product--links img {
        max-height: 22vh;
    }
    #ProductSecondRow {
        justify-content: center;
        margin-top: 2rem;
    }
    .footer-desktop--spacer {
        height: 2vh;
    }
}

@media only screen and (min-width: 992px) and (orientation: landscape) {
    .product--links img {
    max-height: 27vh;
    }
}

/* == About == */

@media only screen and (min-width: 992px) {
    .about-container--wrapper {
        height: 90vh;
    }
    .about-content--wrapper {
        height: 78vh;
        padding: 11% 26% 0;
    }
    .about-align--middle {
        height: 35vh;
    }
}

/* FAQ */

.faq-content--wrapper {
    min-height: 78vh;
}

/* == Contact == */

@media only screen and (min-width: 992px) {
    .contact-container--wrapper {
        height: 90vh;
    }
    .contact-content--wrapper {
        padding: 0 24% 0;
        height: 71vh;
    }
    .contact-form--middle {
        height: 75vh;
    }
}

/* =========
>1500+ width
========= */

@media only screen and (min-width: 1500px) {
    .footer-desktop--wrapper {
        margin: 0 17.5vw;
    }
    .product--links img {
        max-height: 27vh;
    }
    .about--text {
        padding: 0 6rem 0;
    }
    .about-align--middle {
        height: 25vh;
    }
    .contact-content--wrapper {
        padding: 0 29% 0;
    }
}

/* =============
>Special Queries
============= */

/* iPad landscape */
@media only screen and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
    .social-links--wrapper {
    /* margin: 0; */
    }
    .footer-desktop--wrapper {
    padding-top: 0.2rem;
    }
}

/* iPad Pro */
@media only screen and (min-width: 1024px) and (orientation: portrait) {
    .home-content--wrapper {
        height: 74vh;
    }
    .footer-desktop--wrapper {
    height: 7vh;
    padding-top: 1rem;
    }
    .product-content--wrapper {
        padding: 15% 2% 0;
        min-height: 81vh;
    }
    .contact-content--wrapper {
        height: 74vh;
    }
}

/* Large desktop height */
@media only screen and (min-width: 1200px) and (min-height: 880px) and (orientation: landscape) {
    .footer-desktop--wrapper {
        height: 8vh;
    }
}

/* Very small phone in landscape */

@media only screen and (max-height: 340px) and (orientation: landscape) {
    .about-align--middle {
        height: 92vh;
    }
}
