@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700|Rubik:400,500,700|Space+Mono:400,700');

body {
    background: #000;
}

    /*******         HEADER       *******/

.logo {
    margin: 0;
    padding: 0;
    height: 10vh;
    background-repeat: no-repeat;
    background-size: contain; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

            /*** MOBILE NAV  ***/
                /* Layout */

.nav-mobile--wrapper {
    background: #000;
    min-height: 6vh;
    display: flex;
}

.nav-desktop--hide {
    display: none;
}

/* Cover white border on mobile nav when it's opening */
.nav-mobile--blackbox {
    min-height: 5.9vh;
    background: #000;
    z-index: 9;
}

                /* Styling */

.nav-mobile--style {
   font-family: "rubik", sans-serif;
   font-weight: 400;
   font-size: .8rem;
   text-transform: uppercase;
   text-align: center;
   line-height: 1.1;
   margin-bottom: 6vh;
   border-top: 1px solid rgba(255,255,255,.5);
   border-bottom: 1px solid rgba(255,255,255,.5);
}

.nav-mobile--style li a {
    padding: 0.75rem 0;
}

.nav-mobile--icon {
    color: #fff;
    z-index: 10;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 1%;
    width: 10%;
    border: 0;
    padding: 0;
}

.nav-mobile--icon span {
    font-size: 2rem;
}

#NavMobileToggler {
    background: #000;
    z-index: 8;
}

/* Remove outline from burger menu when clicked. Decided to use it on all buttons because I didn't like it on the signup one either */
/* https://stackoverflow.com/questions/23333231/bootstrap-button-shows-blue-outline-when-clicked */
button {
    outline: none !important;
    box-shadow: none !important;
  }

            /*** DESKTOP NAV  ***/

.nav-desktop--style {
    background: #000;
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: right;
    line-height: 1.1;
}

.navbar {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

/*******         HOME CONTAINER         *******/
                /* Layout */

.home-container--wrapper {
    height: 82vh;
    padding: 0;
    background: url(../images/hexagonsbg2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.home-content--wrapper {
    height: 72vh;
    padding: 27% 15% 0;
}

                /* Styling */

.home-text--style {
    text-align: center;
}

.home-text--style h1 {
    color: #fff;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
}

.home-text--style h3 {
    color: #fff;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
}

.home-text--style h6 {
    color: #bebebe;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
}

.button--center {
    display: flex;
    justify-content: center;
   /*  align-items: center; */    /* not doing anything atm */
}

.button-signup--style {
    color: #fff;
    background: #a5460b;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

.social-links--wrapper {
    text-align: center;
}

.social-links--style {
    color: rgba(255,255,255, 1);
    font-size: 3rem;
}

/*******         FOOTER         *******/
                /* Layout */
            /* Mobile */


.footer-mobile--wrapper {
    background: #fff;
    display: flex;
}

.footer-mobile--spacer {
    height: 5.9vh;
    display: flex;
}

            /* Desktop */

.desktop-footer--wrapper {
    /* background: #002b43; */
    background: #4f7e9c;
}

.desktop-footer--wrapper {
    height: 8vh;
}

.footer-show--md {
    display: none;
}

                /* Styling */
            /* Mobile */

.footer-text--mobile {
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    color: #000;
}

.footer-text--mobile p {
    margin: 0;
}

            /* Desktop */

.desktop-footer--wrapper p {
    color: #000;
    margin: 0;
}

.footer-text--desktop {
    /* height: 8vh; */
    text-align: center;
}

.footer-text--desktop h6 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}

.footer-text--desktop p {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}

#footer-contact--align {
    transform: translateY(1rem);
}

    /*******         MEDIA QUERIES       *******/
            /* NAVIGATION */

    /* hide mobile nav on desktop */
@media only screen and (min-width: 992px) {
    .nav-mobile--wrapper {
        display: none;
    }
}

    /* hide desktop nav on mobile */
@media only screen and (min-width: 992px) {
    .nav-desktop--hide {
        display: flex;
    }
}

@media only screen and (min-height: 668px) {
    .social-links--wrapper {
        margin-top: 1rem;
    }
}
            /* HOME PAGE */
                /* Layout */

@media only screen and (min-width: 768px) and (min-height: 420px) {
    .home-container--wrapper {
        height: 90vh;
        padding: 0;
        background: url(../images/hexagonsbg2.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
    }
}

@media only screen and (min-width: 768px) {
    .home-content--wrapper {
        padding: 20% 15% 0;
        height: 69vh;
    }
}

@media only screen and (min-width: 768px) {
    .social-links--wrapper {
        margin-top: 0;
        margin-bottom: 1rem;
    }
}
                /* Styling */

            /* Tablet */

@media only screen and (min-width: 768px) {
    .home-text--style h1 {
        font-family: "Orbitron", sans-serif;
        font-weight: 700;
        font-size: 3rem;
        text-transform: uppercase;
    }   
}

@media only screen and (min-width: 768px) {
    .home-text--style h3 {
        font-family: "Orbitron", sans-serif;
        font-weight: 700;
        font-size: 2rem;
        text-transform: uppercase;
    }   
}

            /* Desktop */


                /* FOOTER */
            /* Layout */

/* Hide mobile footer on tablet/desktop */
@media only screen and (min-width: 768px) {
    .footer-mobile--wrapper, .footer-mobile--spacer {
        display: none;
    }    
}

/* Show tablet/desktop footer */
@media only screen and (min-width: 768px) {
    .footer-show--md {
        display: flex;
    }
}

                /* iPad Pro specific */
        /* https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106 */
            /* Portrait */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
    .social-links--wrapper {
        margin-top: 0;
        margin-bottom: 5rem;
    }
}

            /* Landscape */
            /* This doesn't work on dev tools, however I read that iPad doesn't change device height and width measurements when in landscape mode.
            This is why device width and height stays the same, but viewport changes.  */
            /* (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and  */
@media only screen and (min-width: 1366px) and (max-width: 1366px) {
    .social-links--wrapper {
        margin-top: 0;
        margin-bottom: 10rem;
    }
}

/* For debugging */
/* * { border: 1px solid red; }  */
