/*******        Background Colors         *******/

.nav-style {
    background: rgba(0, 0, 0, 0.0);
}

.footer-container {
    background: #414658;
}

/*******         Header         *******/

.nav-style {
    text-align: right;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
}

.logo {
    margin: 0;
    padding: 0;
    height: 10vh;
    /* background-color: #00125B; */
    background-repeat: no-repeat;
    background-size: contain; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

.company-name {
    color: #fff;
    font-size: 20px;
}

/*******         Home container         *******/

.home-container {
    height: 95vh;
    padding: 0;
    background: url(../images/hexagonsbg2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.home-content-spacer {
    height: 10vh;
}

.home-content-wrapper {
    height: 85vh;
    padding: 15% 25% 0 25%;
}

.welcome-message {
    text-align: center;
}

.welcome-message h1 {
    color: #fff;
}

.button-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*******         Footer         *******/
 
.footer-container {
    color: #fafafa;
}

.footer-container p {
    height: 100%;
    margin: 0;
}

.company-info {
    height: 5vh;
}

.social {
    height: 5vh;
    text-align: center;
    padding: 0;
}

.social-links {
    margin: 0;
}

.footer-contact {
    height: 5vh;
    text-align: right;
}

/* * { border: 1px solid red; } */ /* For debugging */
