@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700|Rubik:400,500,700|Space+Mono:400,700');

body {
    background: #000;
}

    /*******         HEADER       *******/

.logo {
    margin: 0;
    padding: 0;
    height: 10vh;
    background-repeat: no-repeat;
    background-size: contain; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

            /*** MOBILE NAV  ***/
                /* Layout */

.nav-mobile--wrapper {
    background: #000;
    min-height: 6vh;
    display: flex;
}

.nav-desktop--hide {
    display: none;
}

/* Cover white border on mobile nav when it's opening */
.nav-mobile--blackbox {
    min-height: 5.9vh;
    background: #000;
    z-index: 9;
}

                /* Styling */

.nav-mobile--style {
   font-family: "rubik", sans-serif;
   font-weight: 400;
   font-size: .8rem;
   text-transform: uppercase;
   text-align: center;
   line-height: 1.1;
   margin-bottom: 6vh;
   border-top: 1px solid rgba(255,255,255,.5);
   border-bottom: 1px solid rgba(255,255,255,.5);
}

.nav-mobile--style li a {
    padding: 0.75rem 0;
}

.nav-mobile--icon {
    color: #fff;
    z-index: 10;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 1%;
    width: 10%;
    border: 0;
    padding: 0;
}

.nav-mobile--icon span {
    font-size: 2rem;
}

#NavMobileToggler {
    background: #000;
    z-index: 8;
}

/* Remove outline from burger menu when clicked. Decided to use it on all buttons because I didn't like it on the signup one either */
/* https://stackoverflow.com/questions/23333231/bootstrap-button-shows-blue-outline-when-clicked */
button {
    outline: none !important;
    box-shadow: none !important;
  }

            /*** DESKTOP NAV  ***/

.nav-desktop--style {
    background: #000;
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: right;
    line-height: 1.1;
}

.navbar {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

/*******         HOME CONTAINER         *******/
                /* Layout */

.home-container--wrapper {
    height: 82vh;
    padding: 0;
    background: url(../images/hexagonsbg2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.home-content--wrapper {
    height: 72vh;
    padding: 27% 15% 0;
}

                /* Styling */

.home-text--style {
    text-align: center;
}

.home-text--style h1 {
    color: #fff;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.home-text--style h3 {
    color: #fff;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
}

.home-text--style h6 {
    color: #bebebe;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
}

.button--center {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
   /*  align-items: center; */    /* not doing anything atm */
}

.button-signup--style {
    color: #fff;
    background: #a5460b;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

.social-links--wrapper {
    text-align: center;
}

.social-links--style {
    color: rgba(255,255,255, 1);
    font-size: 3rem;
}

/*******         FOOTER         *******/
                /* Layout */
            /* Mobile */


.footer-mobile--wrapper {
    background: #fff;
    display: flex;
}

.footer-mobile--spacer {
    height: 5.9vh;
    display: flex;
}

            /* Desktop */

.footer-desktop--wrapper {
    /* background: #002b43; */
    /* background: #4f7e9c; */
    background: #fff;
    height: 8vh;
    padding-top: 0.75rem;
    margin-left: 5%;
    margin-right: 5%;
}

.footer-show--md {
    display: none;
}

                /* Styling */
            /* Mobile */

.footer-text--mobile {
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    color: #000;
}

.footer-text--mobile p {
    margin: 0;
}

            /* Desktop */

.footer-desktop--wrapper p {
    margin: 0;
    
}

.footer-text--desktop {
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

.footer-text--desktop h6 {
    font-weight: 500;
}

.footer-text--desktop p {
    font-size: 0.9rem;
}

#footer-contact--align {
    transform: translateY(1rem);
}

    /*******         MEDIA QUERIES       *******/

    /*** Landscape for mobile ***/

    @media only screen and (orientation: landscape) {
        .logo {
            height: 15vh;
        }
        .home-container--wrapper {
            height: 77vh;
        }
        .home-content--wrapper {
            height: 53vh;
            padding: 7% 15% 0;
        }
        .nav-mobile--icon {
            margin-bottom: 0.1rem;
        }
        .nav-mobile--wrapper {
            min-height: 10vh;
        }
        .nav-mobile--blackbox {
            min-height: 9.9vh;
        }
        .nav-mobile--style {
            margin-bottom: 10vh;
        }
        .home-text--style h1 {
            font-size: 1.35rem;
            margin: 0 0 0.25rem 0;
        }
        .home-text--style h3 {
            font-size: 1.15rem;
        }
        .button--center {
            margin: 0.5rem 0;
        }
        .social-links--wrapper {
            margin-bottom: 0.5rem;
        }
        .footer-mobile--spacer {
            height: 9.9vh;
        }
    }

    @media only screen and (min-width: 768px) and (orientation: landscape) {
        .footer-mobile--wrapper, .footer-mobile--spacer {
            display: flex;
        }   
        .footer-show--md {
            display: none;
        }
        .nav-mobile--icon {
            margin-bottom: 0.25rem;
        }
        .home-text--style h1 {
            font-size: 1.8rem;
        }
        .home-text--style h3 {
            font-size: 1.5rem;
        }
    }
            /* NAVIGATION */

    /* hide mobile nav on desktop */
@media only screen and (min-width: 992px) {
    .nav-mobile--wrapper {
        display: none;
    }
}

    /* hide desktop nav on mobile */
@media only screen and (min-width: 992px) {
    .nav-desktop--hide {
        display: flex;
    }
}
            /* positioning for phones with lots of height eg; pixel 2 */
@media only screen and (min-height: 668px) {
    .social-links--wrapper {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .nav-mobile--icon {
        margin-bottom: 2.5%;
    }
}

@media only screen and (min-width: 768px) and and (min-height: 420px) {
    .nav-mobile--icon {
        margin-bottom: 2%;
    }
}
            /* HOME PAGE */
                /* Layout */

@media only screen and (min-width: 768px) and (min-height: 420px) {
    .logo {
        height: 10vh;
    }
    .home-container--wrapper {
        height: 90vh;
    }
    .home-content--wrapper {
        padding: 16% 8% 0;
        height: 69vh;
    }
    .home-text--style h1 {
        font-size: 3.5rem;
    }
    .home-text--style h3 {
        font-size: 2.5rem;
    } 
    .home-text--style h6 {
        font-size: 1rem;
    }
    .button-signup--style {
        font-size: 2rem;
    }
    .social-links--wrapper {
        margin-top: 0;
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 992px) {
    .home-container--wrapper {
        height: 90vh;
    }
    .home-content--wrapper {
        padding: 9% 8% 0;
        height: 73.5vh;
    }
    .home-text--style h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    .home-text--style h3 {
        font-weight: 700;
        font-size: 3rem;
    } 
    .home-text--style h6 {
        font-size: 0.75rem;
    }
    .button--center {
        margin: 1rem 0;
    }
    .button-signup--style {
        font-size: 2rem;
    }
    .social-links--wrapper {
        margin-top: 0;
        margin-bottom: 1rem;
    }
}

                /* FOOTER */
            /* Layout */

/* Hide mobile footer on tablet/desktop */
@media only screen and (min-width: 768px) and (min-height: 420px) {
    .footer-mobile--wrapper, .footer-mobile--spacer {
        display: none;
    }    
}

/* Show tablet/desktop footer */
@media only screen and (min-width: 768px) and (min-height: 420px) {
    .footer-show--md {
        display: flex;
    }
}

@media only screen and (min-width: 768px) and (min-height: 420px) {
    .footer-text--spacer {
        display: block;
        margin-bottom: 0.5rem;
    }
    .footer-text--desktop a {
        font-size: 1rem;
    }
    .footer-text--link a:link, a:visited, a:active {
        text-decoration: none;
        color: #5f5f5f;
    }
    .footer-text--link a:hover {
        text-decoration: none;
        color: #000;
        font-weight: 500;
    }
    .footer-text--copyright {
        font-size: 0.8rem;
        color: #5f5f5f;
    }
}



@media only screen and (min-width: 992px) {
    .footer-desktop--wrapper {
        margin: 0 12.5vw;
        padding-top: 0.5rem;
    }
}

@media only screen and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
    .social-links--wrapper {
    margin: 0;
    }
    .footer-desktop--wrapper {
    padding-top: 0.2rem;
    }
}

@media only screen and (min-width: 1500px) {
    .footer-desktop--wrapper {
        margin: 0 17.5vw;
    }
}


                /* iPad Pro specific */
        /* https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106 */
            /* Portrait */
/* @media only screen and (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
    .social-links--wrapper {
        margin-top: 0;
        margin-bottom: 5rem;
    }
} */

            /* Landscape */
            /* This doesn't work on dev tools, however I read that iPad doesn't change device height and width measurements when in landscape mode.
            This is why device width and height stays the same, but viewport changes.  */
            /* (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and  */
/* @media only screen and (min-width: 1366px) and (max-width: 1366px) {
    .social-links--wrapper {
        margin-top: 0;
        margin-bottom: 10rem;
    }
} */


/* For debugging */
/* * { border: 1px solid red; }  */
